{% extends 'base.html.twig' %}

{% block title %}ChangerMotDePasse{% endblock %}

{% block main %}

{#DEBUT  AFFICHAGE MESSAGES FLASH#}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{#FIN  AFFICHAGE MESSAGES FLASH#}

        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h3>Changement de mot de passe</h3><br>
                    <form action="{{ path('passwordChangeSubmission') }}" method="post">

                        <div class="from-group">
                          <input  placeholder="Taper nouveau mot de passe " required name="newPassword" type="password" class="form-control">
                        </div><br>

                        <div class="from-group">
                            <input  placeholder="Confirmer nouveau mot de passe" required name = "cnfPassword" type="password" class="form-control">
                        </div><br>


                        <div class="form-group" style="display: flex ;justify-content: center">
                            <button type="submit" class="btn btn-success">Confirmer</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

{% endblock %}
